<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <title>{{  title  }}</title>
</head>
<body>
    <form class="login_form" method="post">
        <p>Джинсы, 3000 рублей</p><input placeholder="Количество" type="number" id="jeans" name="jeans">
        <p>Рубашка, 1500 рублей</p><input placeholder="Количество" type="number" id="shirt" name="shirt">
        <p>Обувь, 4000 рублей</p><input placeholder="Количество" type="number" id="shoes" name="shoes">
        <p>Юбка, 2000 рублей</p><input placeholder="Количество" type="number" id="skirt" name="skirt">
        <p> </p>
        <button type="submit" class="btn btn-primary">Заказать</button>
    </form>
</body>
</html>