<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Приветствую Вас на домашней странице интернет-магазина одежды!</h1>
        <a class="btn btn-outline-primary btn-lg" href="enter" role="button">Вход</a>
        <a class="btn btn-outline-primary btn-lg" href="registration" role="button">Регистрация</a>
    </body>
</html>