<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <a class="btn btn-outline-primary btn-lg" href="basket" role="button">Корзина</a>
    <img src="static/products/jeans.jpg" class="img-fluid" alt="джинсы" width="200" height="300">
    <img src="static/products/shirt.jpg" class="img-fluid" alt="рубашка" width="200" height="300">
    <img src="static/products/shoes.jpg" class="img-fluid" alt="обувь" width="200" height="300">
    <img src="static/products/skirt.jpg" class="img-fluid" alt="юбка" width="200" height="300">
</body>
</html>